<!DOCTYPE html>
<html lang="en">
    <%- partial('_partial/head') %>

<body>
    <header>
        <h1>marsevilspirit's blog</h1>
    </header>

    <main>
        <p>这里是布局</p>
        <div>
            <%- include("index.ejs") %>
        </div>
        <div>
            <%- include("post.ejs") %>
        </div>
    </main>

    <footer>
        <p>&copy; 2023 marsevilspirit</p>
    </footer>
</body>

</html>
