<footer class="footer">
    <div class="content has-text-centered">
        <p><a href="/about">About <%= theme.about_name %></a> | <a href="<%= theme.link.github %>", target="_blank">Github</a> | <a href="mailto:<%= theme.link.email %>">Email</a></p>
</footer>
