<footer class="footer">
    <div class="content has-text-centered">
        <p><a href="/about">About <%= config.about_name %></a> | <a href="<%= config.link.github %>", target="_blank">Github</a> | <a href="mailto:<%= config.link.email %>">Email</a></p>
</footer>
